<% if @article.errors.any? %>
  <div class="alert alert-danger " role="alert">
    <h4 class="alert-heading">The followinf errors prevented this article from being saved</h4>
    <ul>
        <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
  </div>
<% end %>

